@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(215, 255, 250);
}

/* nav */
nav {
  position: relative;
  transition: 0.6s;

  top: 0;
  left: 0;
  z-index: 1111;
  background-color: #000;
}

Nav.sticky {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 74px;
  border-bottom: 1px solid rgb(255, 255, 255);
}
nav ul li {
  list-style: none;
  margin: 0 15px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  transition: 0.6s;
  transition: color 0.6s;
}
nav ul li a:hover {
  color: rgb(59, 201, 219);
}
nav.sticky ul {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 74px;
  border-bottom: 1px solid rgb(0, 0, 0);
}
Nav.sticky ul li a {
  color: black;
}
Nav.sticky ul li a:hover {
  color: rgb(59, 201, 219);
}
nav ul li button {
  border: none;
  color: white;
  background: linear-gradient(
    222deg,
    rgb(29, 173, 175) 20%,
    rgb(11, 56, 240) 100%
  );
  background-size: 255px 255px;
  animation: gradient 8s ease infinite;
  width: 82px;
  height: 27px;
  border-radius: 12px;
  font-size: 14px;
  transition: 0.5s ease-in-out;
}
nav ul li button:hover {
  cursor: pointer;
  background: rgb(29, 173, 175);
}
nav ul li button a {
  color: white;
}
nav ul li button a:hover {
  cursor: pointer;
  color: white;
}
nav.sticky ul li button a {
  color: white;
}
nav.sticky ul li button a:hover {
  color: white;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

nav .logo img {
  width: 70px;
  height: 67px;
}
/* nav */

/* Main */

/* left1 */
.section1 {
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  background-image: url("/Assets/img/Code-symbols.gif");
  background-repeat: repeat-y;
  background-size: cover;
  height: 685px;
}
.sec-left1,
.sec-right1 {
  flex-basis: 555px;
}
.section1 .sec-left1 div {
  overflow: hidden;
}
.sec-left1 {
  text-align: center;
}
.sec-left1 .circle {
  width: 500px;
  height: 500px;
  background-color: rgb(0, 58, 165);
  border-radius: 50%;
  transition: box-shadow 0.3s;
}
.sec-left1 .circle:hover {
  box-shadow: 0px 0px 77px 3px rgba(0, 0, 0, 0.69) inset;
  -webkit-box-shadow: 0px 0px 77px 3px rgba(0, 0, 0, 0.69) inset;
  -moz-box-shadow: 0px 0px 77px 3px rgba(0, 0, 0, 0.69) inset;
}
.owner-pic {
  clip-path: circle(55%);
  transition: transform 0.3s ease-in-out;
  transition: top 0.7s ease-in-out;
  position: relative;
  top: 0;
}
.owner-pic:hover {
  transform: scale(1.11);
  cursor: pointer;
  top: 15px;
}
/* left1 */

/* right1 */
.sec-right1 {
  width: 35%;
  font-family: "Roboto", sans-serif;
  margin: 0 25px;
}
.sec-right1 H1,
.sec-right1 H1,
h3,
.sec-right1 H1,
p {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.sec-right1 span {
  color: rgb(41, 111, 241);
}
/* right1 */

/* section2 */

.section2 {
  background-color: white;
  height: 760px;
}
.section2 h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  position: relative;
  top: 167px;
  font-size: 55px;
}

.slider {
  margin: auto;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
  height: 646px;
}
.slide-track {
  display: flex;
  width: calc(250px * 2);/*temporary not 12 till completion of portfolio */
animation: scroll 40s linear infinite; /*temporary off till completion of portfolio */
}

.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translatex(calc(-250px * 6));
  }
}

.slide {
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
}
.card {
  position: relative;
  perspective: 100px;
  text-align: center;
}
.card span {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.slide .card img {
  width: 100%;
  transition: transform 1s;
  cursor: pointer;
}
.slide .card img:hover {
  transform: translateZ(20px);
}

/* section2 */

/* section3 */
.section3 {
  background-image: url("/Assets/img/Code-symbols.gif");
  background-repeat: repeat-y;
  background-size: cover;
  height: 760px;
}

.section3 .cards-sec {
  height: 760px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.section3 .cards-sec .cards {
  width: 455px;
  height: 455px;
  background: #fff;
  margin: 0 25px;
  border-radius: 15px;
}
.section3 .cards-sec .cards h3,
.section3 .cards-sec .cards img,
.section3 .cards-sec .cards p {
  margin: 35px 0;
}

.section3 .cards-sec .cards h3 {
  color: rgb(0, 0, 0);
  text-align: center;
}

.section3 .cards-sec .cards img {
  border-radius: 50%;
  width: 185px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section3 .cards-sec .cards p {
  color: rgb(0, 0, 0);
  text-align: center;
}

/* section3 */

/* section4 */

.section4 {
  background-image: url("/Assets/img/Code-symbols.gif");
  background-repeat: repeat-y;
  background-size: cover;
  height: 760px;
}

.section4 .sec4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 665px;
  background: white;
  border-radius: 152px;
  top: 17px;
  position: relative;
}

.section4 h2 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  position: relative;
  top: 167px;
  font-size: 55px;
  z-index: 5;
}

/* infocards */
.conatainer {
  position: relative;
  display: flex;
  width: 900px;
  justify-content: space-around;
}
.conatainer .card {
  position: relative;
  width: 30%;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.conatainer .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1000;
}
.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.text {
  position: relative;
  margin-top: 20px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.percent .number h3 {
  color: #fff;
  font-weight: 800;
  font-size: 40px;
  transition: 0.5s;
  z-index: 9999;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1111;
}
svg circle {
  width: 100%;
  height: 100%;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}
svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
.conatainer .card:nth-child(1) svg circle:nth-child(2) {
  stroke: #0099ff;
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
}
.conatainer .card:nth-child(2) svg circle:nth-child(2) {
  stroke: #43c7b5;
  stroke-dashoffset: calc(440 - (440 * 75) / 100);
}
.conatainer .card:nth-child(3) svg circle:nth-child(2) {
  stroke: #ffffff;
  stroke-dashoffset: calc(440 - (440 * 60) / 100);
}
/* infocards */

/* section4 */

/* Main */

/* footer */
footer {
  width: 100%;
  background-color: #fff;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* footer */

/* Contact page */
.main_con {
  background-color: white;
}

.contact-info {
  align-items: center;
  justify-content: center;
  height: 663px;
  background: white;
  color: rgb(12, 0, 0);
}

.right-con {
  margin: 0 5px;
}
.h2-title {
  position: relative;
  bottom: 15px;
}
.form {
  padding: 15px;
  border-radius: 25px;
}

/* Contact page */
